<%= form_with url: "/users/booking" , method: :post do |form| %>
  <% log.errors.any?.to_s %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>
        <ul>
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field form-group">
      <% form.label :room_id %>
      <%= form.text_field :room_id,value: log.roomid, class:"form-control", type: :hidden %>
    </div>
  
    <div class="field form-group">
      <% form.label :hotel_id %>
      <%= form.text_field :hotel_id, value: @hotel_id, class:"form-control", type: :hidden %>
    </div>
    
    <div class="field form-group">
      <% form.label :user_id %>
      <%= form.text_field :user_id,value: current_user.id, class:"form-control", type: :hidden %>
    </div>
  
    <div class="field form-group">
      <%= form.label :start_date %><br>
      <input type="date" name="startdate" class="form-control" required>
    </div>
  
    <div class="field form-group">
      <%= form.label :end_date %><br>
      <input type="date" name="enddate" class="form-control" required>
    </div>
  
    <div class="actions">
        <%= form.submit "Book", class:"btn btn-dark"%>
    </div>

  <% end %>