<% if @room.count==0 %>
    <%= render 'msg01' %>
<% end %>
<% @room.each do |h| %>
        <div class="jumbotron">
        <h1 class="display-4"><%= h.roomid %></h1>
        <p class="lead"><%= h.roomno %> | <%= h.status %></p>
        <hr class="my-4">
        <p><del><%= "#{h.price}" %> </del><p class="lead" style="color:red;"><%= "₹ #{update_price(h)} only"%></p>   <%= " AC : #{h.roomtype.AC} "%>  |  <%= " Bed count : #{h.roomtype.beds.to_s} "%></p>

        <%= render 'logform', log: h %>
        
        </div>
<% end %>
<%= link_to 'Back', users_userhome_path ,class:"btn btn-dark"%>
<br>

