<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Hotel Name</th>
      <th>Room Id</th>
      <th>User Id</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
        <% if log.user_id.to_i == current_user.id %>
            <tr>
            <td><%= log.hotel_id %></td>
            <td><%= log.room_id %></td>
            <td><%= log.user_id %></td>
            <td><%= log.startdate %></td>
            <td><%= log.enddate %></td>
            </tr>
        <% end %>
    <%end%>
  </tbody>
</table>
<br>
<td><%= link_to 'Back', root_path ,class:"btn btn-dark"%></td>