<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :roomid %>
    <%= form.text_field :roomid, class:"form-control" %>
  </div>

  <div class="field form-group">
    <% form.label :hotel_id %>
    <%= form.text_field :hotel_id, id: :room_hotel_id, value: current_hotel.id ,type: :hidden , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :roomno %>
    <%= form.text_field :roomno, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.text_field :status, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :roomtype %>
    <%= form.text_field :roomtype, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-dark"%>
  </div>
<% end %>
