<% if @rooms.count == 0 %>
  <%= render 'users/msg01' %>
<%else%>

  <h1>Rooms</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Roomid</th>
        <th>Hotelid</th>
        <th>Roomno</th>
        <th>Status</th>
        <th>Price</th>
        <th>Roomtype</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <% if room.hotel == current_hotel %>
          <tr>
            <td><%= room.roomid %></td>
            <td><%= room.hotel_id %></td>
            <td><%= room.roomno %></td>
            <td><%= room.status %></td>
            <td><%= room.price %></td>
            <td><%= room.roomtype %></td>
            <td><%= link_to 'Show', room ,class:"btn btn-light"%></td>
            <td><%= link_to 'Edit', edit_room_path(room) ,class:"btn btn-light"%></td>
            <td><%= link_to 'Destroy', room,class:"btn btn-light", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
<%end%>
<br>

<%= link_to 'New Room', new_room_path, class:"btn btn-dark"%>
