
<div class="jumbotron">
  <h1 class="display-4"><%= @room.roomid %></h1>
  <p class="lead"><%= @room.hotel_id %>  |  <%= @room.roomno %>  |  <%= @room.status %> </p>
  <p class="lead"><%= @room.price %>  |  <%= @room.roomtype %></p>
  <%= link_to 'Edit', edit_room_path(@room),class:"btn btn-dark" %>
  <%= link_to 'Back', rooms_path,class:"btn btn-dark" %>
</div>
